header{
  height: 30%;
  background-color: #e9ece5;
}
body{
  margin: 2px;
  background-color: #f8f9f7;
}
.right, .name{
  display: inline-block;
  float: left
}
.right{
  width:40%;
}
.name{
  width: 50%;
  height: 100%;
  font-size: 70px;
  color: #3b3a36;
}
.displayImage{
  border-radius: 50%;
  height:100%;
  margin-left: 20px;

}
.introduction{
  font-size: 20px;
  clear: both;
  color: #3b3a36;
  margin: 20px;
}
main{
  margin: 20px;
}
.navLinks{
  display: inline-block;
  width: 19%;
  text-align: center;
  text-transform: uppercase;
  border: solid 1px;
}



.bold-text{
  font-weight: bold;
}
.italic-text{
  font-style: italic;
}
.right-align{
  float: right;
}
.navContent{
  display: none;
}





.clickImage{
  height : 20%;
}
.styleLinksChild{
  padding: 10%;
}

a:link{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
