header{
  height: 30%;
  background-color: #e9ece5;
}
body{
  margin: 2px;
  background-color: #f8f9f7;
  display: flex;
  min-height : 100vh;
  flex-direction : column;
}
.right, .name{
  display: inline-block;
  float: left
}
.right{
  width:40%;
}
.name{
  width: 50%;
  height: 100%;
  font-size: 70px;
  color: #3b3a36;
}
.displayImage{
  border-radius: 50%;
  height:100%;
  margin-left: 20px;

}
.introduction{
  font-size: 20px;
  clear: both;
  color: #3b3a36;
  margin: 20px;
}
main{
  margin: 20px;
}
.navLinks{
  display: inline-block;
  width: 32%;
  text-align: center;
  text-transform: uppercase;
  /* border: solid 1px; */
}
footer{
	background-color: #e9ece5;
}
#container{
	flex : 1;
}
.footerLink{
	display : inline-block;
	width : 15%;
	text-align : center;
	padding : 20px;
}
a{
  float: left;
	color: inherit;
}
a:visited{
	color:inherit;
}
section{
  display: inline-block;
  width: 70%;
  float: left;
}
aside{
  display: inline-block;
  width: 28%;
}

.navTabs{
  background-color: #e9ece5;
  border: solid 1px;
}
.navLinks{
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  margin: 0px;
  padding: 0px;
}


.bold-text{
  font-weight: bold;
}
.italic-text{
  font-style: italic;
}
.right-align{
  float: right;
}
.navContent{
  display: none;
  clear: both;
}




.clickImage{
  height : 20%;
}
.styleLinksChild{
  padding: 10%;
}

a:link{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
