@font-face {
  font-family: workFont;
  src: url(uploads/font-awesome-4.7.0/fonts/fontawesome-webfont.woff);
}

.body{
  background-color: #f1f1f2;
}

.styleLinks{
  width : 33%;
  height : 15%;
  /*color : #a1d6e2;*/
  background-color: #bcbabe;
  text-align: center;
  font-family: workFont;
  display: inline-block;
  /*padding: 1%;*/
}

.left{
  width : 45%;
  display: inline-block;
}
.right{
  width : 45%;
  display: inline-block;
}

.displayImage{
  /*margin: 10px;*/
  height: 45%;
  /* width: 25%; */
  display: block;
  
  border-radius: 50%;
  /*align-items: center;*/
}

.styleLinksChild{
  padding: 10%;
}
.introduction{
  align: "center";
  width:33%;
  font-variant: small-caps;
}
#workLink{
  font-family: workFont;
}

a:link{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
